div#MainScreen {
  div.frame {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }

  div.wheels {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  div.arrow {
    z-index: 100;
  }

  div.subarrow {
    z-index: 110;
  }
}