div.cover {
  background-color: gray;
  border-radius: 50%;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
  }

  &.image {
    background-color: unset;
    &:active {
      transform: scale(0.95);
    }
  }
}

.button {
  background-color: #f7f7f7;
  width: 85%;
  height: 85%;
  border-radius: 50%;
}

.button:hover {
  background: #f5f5f5;
}

.solved .button {
  background-color: #61bb0c;
  &:hover {
    background-color: #61bb0c;
  }
  &:active {
    box-shadow: none;
  }
}

.button:active {
  box-shadow: 0px 3px 4px #aaa inset, 0px 2px 3px #fff;
}
.solved div.cover {
  cursor: auto;

  img {
    cursor: auto;
  }

  &.image {
    background-color: unset;
    &:active {
      transform: none;
    }
  }
}
