canvas {
  position: absolute;
  border-radius: 50%;
  cursor: grab;
  &:active {
    cursor: grabbing;
  }
}
.wheel_shadow {
  position: absolute;
  top: 15px;
  left: -26px;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(34, 59, 112, 0.747);
  mix-blend-mode: multiply;
  filter: blur(1px);
}
#wheel_shadow_contemporary {
  left: 10px;
  bottom: 35px;
  background-color: rgba(89, 90, 173, 0.527);
  filter: blur(12px)
}
